<div ng-controller="tasksController">
  <h2>Tasks</h2>
  <form novalidate>
    <select ng-model="profile">
      <option ng-repeat="profile in profiles" value="{{profile}}">{{profile.name}}</option>
    </select>
    <input type="submit" ng-click="saveProfile(profile)" value="Save" />
  </form>
  <form novalidate>
    <select ng-model="task.userStory">
      <option ng-selected="{{userStory.number == task.userStory.number}}" ng-repeat="userStory in userStories" value="{{userStory}}">{{userStory.number}}</option>
    </select>
    <input type="submit" ng-click="saveTask(task)" value="Save" />
  </form>
  <div ag-grid="gridOptions" class="ag-fresh tasks-grid"></div>
</div>
<hr>