.tasks-grid, .user-stories-grid {
  height: 400px;
}

.profiles-grid {
  height: 200px;
}

ul {
  padding-left: 0;
}

ul li {
	list-style: none;
}

.estimationList li {
  padding-top: 10px;
}

.estimatio-body {
  min-width: 800px;
}

.estimationForm{
  padding-left: 39% 
}
