.tasks-grid, .user-stories-grid, .profiles-grid {
  height: 400px;
}

select {
  display: block;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: relative;
  left: 0px;
  visibility: visible;
}