<div ng-controller="profilesController">
    <h2>Profiles</h2>
    <div class="row">
        <form novalidate class="col s12">
            <div class="row">
                <div class="input-field col s9">
                    <input 
                        placeholder="Profile Name" 
                        id="client_name" 
                        type="text" 
                        class="validate" 
                        ng-model="profile">
                    <label for="client_name">Profile Name</label>
                </div>
                <div class="col s3">
                    <a 
                        class="btn-floating btn-large waves-effect waves-light red"
                        ng-click="add(profile)">
                        <i class="material-icons mdi-content-add">add</i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div ag-grid="gridOptions" class="col s12 ag-fresh profiles-grid"></div>
    </div>
</div>

